.glyphicon-row {
    text-align: center;
    font-weight: bold;
    }
.text-row {
    text-align: center;
    }
.melon-cat {
    text-align: center;

}
.table-striped {
    border-collapse: collapse;
}
.navbar {
    background-color: #ff4d4d;
    color: white;
}
.navbar-brand {
    color: black;
}

/*table { border-bottom-color: red !important; border-top-color: pink !important;}*/